.public_header {
    min-height: 27px;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 1px solid #D9D9D9;
}

.public_header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    width: 167px;
    height: 47px;
}


@media (max-width:960px) {
    .logo {
        width: 152px;
        height: 43px;
    }
}


@media (max-width:400px) {
    .logo {
        width: 76px;
        height: 21px;
    }
}